
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,400,700,600");

/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6614e36db71f0b8421cfefca.6614e36eb71f0b8421cfefcd.LqnDzdx.hch.png");


.screen textarea:focus,
.screen input:focus {
    outline: none;
}

.screen * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.screen div {
    -webkit-text-size-adjust: none;
}

.component-wrapper a {
    display: contents;
    pointer-events: auto;
    text-decoration: none;
}

.component-wrapper * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
    pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
    visibility: hidden !important;
}

.screen a {
    display: contents;
    text-decoration: none;
}

.full-width-a {
    width: 100%;
}

.full-height-a {
    height: 100%;
}

.container-center-vertical {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    pointer-events: none;
}

.container-center-vertical>* {
    flex-shrink: 0;
    pointer-events: auto;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal>* {
    flex-shrink: 0;
    pointer-events: auto;
}

.auto-animated div {
    --z-index: -1;
    opacity: 0;
    position: absolute;
}

.auto-animated input {
    --z-index: -1;
    opacity: 0;
    position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}

.overlay-base {
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.overlay-base.animate-appear {
    align-items: center;
    animation: reveal 0.3s ease-in-out 1 normal forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.overlay-base.animate-disappear {
    animation: reveal 0.3s ease-in-out 1 reverse forwards;
    display: block;
    opacity: 1;
    pointer-events: none;
}

.overlay-base.animate-disappear * {
    pointer-events: none;
}

@keyframes reveal {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate-nodelay {
    animation-delay: 0s;
}

.align-self-flex-start {
    align-self: flex-start;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-flex-center {
    align-self: flex-center;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valign-text-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

input:focus {
    outline: none;
}

.listeners-active,
.listeners-active * {
    pointer-events: auto;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --black-haze: #f5f6f8;
    --black-haze-2: #f6f6f7;
    --bright-gray: #323e4f;
    --pale-sky: #697483;
    --steel-gray: #1b2533;
    --white: #ffffff;
    --white-2: #ffffff4c;

    --font-size-l: 18px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xl: 20px;
    --font-size-xs: 12px;
    --font-size-xxl: 48px;

    --font-family-plus_jakarta_sans: "Plus Jakarta Sans", Helvetica;
}

.plusjakartasans-normal-bright-gray-16px {
    color: var(--bright-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.plusjakartasans-semi-bold-steel-gray-16px {
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
}

.plusjakartasans-normal-pale-sky-16px {
    color: var(--pale-sky);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.plusjakartasans-semi-bold-steel-gray-20px {
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
}

.plusjakartasans-medium-black-14px {
    color: var(--black);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
}

.plusjakartasans-semi-bold-black-16px {
    color: var(--black);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
}

.plusjakartasans-medium-pale-sky-18px {
    color: var(--pale-sky);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
}

.plusjakartasans-semi-bold-steel-gray-18px {
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
}

:root {}


/* screen - blog-detail */

.blog-detail {
    background-color: var(--white);
    height: 3867px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

 .image-7Soxz2 {
    background-color: transparent;
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/670897b14d93c75d65781d29/img/image.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 607px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}

 .bredcrumb-7Soxz2 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    gap: 8px;
    left: 72px;
    position: absolute;
    top: 92px;
    z-index: 1;
}

 .menu-1a3SpL {
    color: var(--black-haze-2);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    margin-top: -1.00px;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .menu-W0AUkx {
    color: var(--black-haze-2);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    margin-top: -1.00px;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .menu-5PQrrz {
    color: var(--black-haze-2);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    margin-top: -1.00px;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .frame-109-7Soxz2 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* left: 198px; */
    overflow: hidden;
    padding: 32px 56px;
    position: absolute;
    top: 376px;
    width: 1045px;
    z-index: 1;
    justify-content: center;
    left: 5%;
}

 .frame-108-vOLPQu {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
}

 .frame-110-p9j5Kv {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
}

 .badge-0jkz6Y {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

 .title-p9j5Kv {
    align-self: stretch;
    background-color: transparent;
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.50px;
    line-height: 60px;
    position: relative;
    text-align: left;
}

 .june-29-2024-p9j5Kv {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .frame-111-vOLPQu {
    align-items: flex-start;
    background-color: transparent;
    flex-direction: column;
    gap: 12px;
}

 .white-shirts-are-an-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
}

 .x1-sort-clothes-before-washing-X2F042 {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24.0px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .classification-by-color-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .how-to-wash-white-an-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .classification-by-material-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .wash-delicate-fabric-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .x2-use-the-right-detergent-and-bleach-X2F042 {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24.0px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .the-right-detergent-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .specialized-laundry-detergent-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .use-a-detergent-spec-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .bleach-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .use-oxygen-bleach-or-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .x3-how-to-wash-clothes-properly-X2F042 {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24.0px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .washing-clothesprope-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .washing-temperature-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .wash-white-shirts-at-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .wash-cycle-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .choose-a-gentle-or-m-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .using-fabric-softener-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .fabric-softener-not-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .x4-how-to-iron-a-shirt-properly-X2F042 {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24.0px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .the-correct-way-to-i-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .prepare-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .use-a-high-quality-i-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .how-to-iron-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .start-at-the-collar-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .x5-drying-and-preserving-white-shirts-X2F042 {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24.0px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .drying-and-storing-w-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .drying-clothes-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .dry-white-shirts-in-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .preserve-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .store-white-shirts-i-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .x6-handling-stubborn-stains-X2F042 {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24.0px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .treating-new-stains-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .sweat-stains-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .use-vinegar-or-lemon-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .food-stains-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .baking-soda-is-an-ef-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .ink-stains-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .use-alcohol-or-an-al-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .x7-notes-when-washing-clothes-X2F042 {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24.0px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .some-small-but-impor-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .using-laundry-bag-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .use-a-laundry-bag-to-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .hand-washing-for-delicate-whites-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .for-sensitive-and-ex-X2F042 {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .frame-112-7Soxz2 {
    left: unset;
    position: absolute;
    top: 450px;
    width: 48px;
    z-index: 1;
    right: 30px;
}

 .frame-62-x3c1RT {
    align-self: stretch;
    background-color: transparent;
    width: 100%;
}

 .frame-111-x3c1RT {
    align-items: center;
    background-color: var(--black-haze);
    border-radius: 100px;
    gap: 10px;
    padding: 12px;
}

 .vuesaxlinearshare-xaJDfP {
    background-color: transparent;
    height: 24px;
    position: relative;
    width: 24px;
}

 .footer-7Soxz2 {
    align-items: flex-start;
    background-color: var(--black-haze);
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: -1px;
    overflow: hidden;
    padding: 56px 72px;
    position: absolute;
    top: 3453px;
    width: 100%;
}

 .frame-177-JadvY2 {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dce5e9;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 0px 0px 56px;
    position: relative;
    width: 100%;
}

 .frame-rIu9Fo {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 6px 0px;
}

 .group-lstiV0 {
    background-color: transparent;
    height: 103.75440979003906px;
    position: relative;
    width: 200px;
}

 .layer-1-tbQxKp {
    height: 104px;
    width: 200px;
}

 .group-T8Gxja {
    background-color: transparent;
    height: 104px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 200px;
}

 .vector-83xCAi {
    height: 104px;
    width: 96px;
}

 .group-83xCAi {
    background-color: transparent;
    height: 104px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 96px;
}

 .clip-path-group-83xCAi {
    height: 104px;
    width: 96px;
}

 .group-aAyInb {
    background-color: transparent;
    height: 46px;
    left: 110px;
    position: absolute;
    top: 29px;
    width: 90px;
}

 .section-02-rIu9Fo {
    background-color: transparent;
    flex: 1;
    flex-grow: 1;
    height: 164px;
    position: relative;
}

 .frame-178-qggKHi {
    left: 0px;
    top: 0px;
    width: 324px;
}

 .about-us-E38dys {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 27.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
}

 .our-story-E38dys {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .our-mission-E38dys {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .our-vision-E38dys {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .core-value-E38dys {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .section-5-rIu9Fo {
    background-color: transparent;
    flex: 1;
    flex-grow: 1;
    height: 198px;
    position: relative;
}

 .frame-178-pGgSMx {
    left: 0px;
    top: 0px;
    width: 324px;
}

 .products-ywyQnO {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 27.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
}

 .laundry-detergent-ywyQnO {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .hc-beauty-ywyQnO {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .floor-cleaner-ywyQnO {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .dishwashing-liquid-ywyQnO {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .hand-sanitizer-ywyQnO {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .frame-178-rIu9Fo {
    flex: 1;
    flex-grow: 1;
}

 .contact-us-PeYx7H {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 27.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
}

 .frame-112-PeYx7H {
    align-self: stretch;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

 .frame-114-Z9W401 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
    width: 100%;
}

 .frame-62-dt9Dey {
    align-items: center;
    background-color: var(--black-haze);
    border-radius: 100px;
    display: inline-flex;
    gap: 10px;
    padding: 8px;
}

 .vuesaxlinearcall-calling-joEvYx {
    background-color: transparent;
    height: 24px;
    position: relative;
    width: 24px;
}

 .x84-912-488-627-dt9Dey {
    background-color: transparent;
    flex: 1;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .frame-115-Z9W401 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
    width: 100%;
}

 .frame-62-TZwUE8 {
    align-items: center;
    background-color: var(--black-haze);
    border-radius: 100px;
    display: inline-flex;
    gap: 10px;
    padding: 8px;
}

 .vuesaxlinearsms-tracking-IYTNqJ {
    background-color: transparent;
    height: 24px;
    position: relative;
    width: 24px;
}

 .hcvietnaminfogmailcom-TZwUE8 {
    background-color: transparent;
    flex: 1;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .frame-116-Z9W401 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
    width: 100%;
}

 .frame-62-rIX2CM {
    align-items: center;
    background-color: var(--black-haze);
    border-radius: 100px;
    display: inline-flex;
    gap: 10px;
    padding: 8px;
}

 .vuesaxlinearlocation-qx8FHd {
    background-color: transparent;
    height: 24px;
    position: relative;
    width: 24px;
}

 .x522-minh-khai-vinh-t-rIX2CM {
    background-color: transparent;
    flex: 1;
    letter-spacing: 0.00px;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
}

 .frame-179-JadvY2 {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

 .x2024-copyright-do-minh-tung-lam-studio-xDZQMu {
    background-color: transparent;
    color: var(--bright-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

 .frame-180-xDZQMu {
    background-color: transparent;
    flex: 0 0 auto;
    position: relative;
}

 .blog-list-7Soxz2::-webkit-scrollbar {
    display: none;
    width: 0;
}

 .blog-list-7Soxz2 {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 56px;
    justify-content: center;
    left: 1px;
    overflow: hidden;
    overflow-x: scroll;
    padding: 96px 72px;
    position: absolute;
    top: 2688px;
    width: 100%;
}

 .ellipse-5-fGtK8H {
    background: linear-gradient(180deg, rgb(75.00000312924385, 178.00000458955765, 229.00000154972076) 23.500001430511475%, rgb(234.00000125169754, 62.00000010430813, 148.000006377697) 100%);
    background-color: transparent;
    border-radius: 242px/242.5px;
    filter: blur(400px);
    ;
    height: 485px;
    left: 478px;
    opacity: 0.4;
    position: absolute;
    top: 144px;
    width: 484px;
}

 .frame-16-fGtK8H {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    width: 100%;
}

 .frame-169-E2WvxC {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    position: relative;
}

 .related-blogs-c8xwM1 {
    align-self: stretch;
    background-color: transparent;
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.50px;
    line-height: 60px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
}

 .frame-150-E2WvxC {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    position: relative;
    width: 565px;
}

 .base-button-Hvt56c {
    background-color: var(--black-haze);
    padding: 10px;
}

 .vuesaxlineararrow-left-zLTm3R {
    background-color: transparent;
    height: 20px;
    position: relative;
    width: 20px;
}

 .base-button-beF555 {
    background-color: var(--black-haze);
    padding: 10px;
}

 .vuesaxlineararrow-right-zfL2mV {
    height: 20px;
    width: 20px;
}

 .frame-167-fGtK8H::-webkit-scrollbar {
    display: none;
    width: 0;
}

 .frame-167-fGtK8H {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    gap: 24px;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    width: fit-content;
}

 .frame-31-o1CUxg {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/670897b14d93c75d65781d29/img/frame-31.svg);
}

 .base-button-Npq5Rm {
    background-color: transparent;
}

 .text-EOmWwp {
    line-height: 21px;
}

 .vuesaxlineararrow-right-EOmWwp {
    height: 16px;
    width: 16px;
}

 .frame-31-yJQxE1 {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/670897b14d93c75d65781d29/img/frame-31-1.svg);
}

 .base-button-3c7zPW {
    background-color: transparent;
}

 .text-WM5URL {
    line-height: 21px;
}

 .vuesaxlineararrow-right-WM5URL {
    height: 16px;
    width: 16px;
}

 .frame-31-ew3cNB {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/670897b14d93c75d65781d29/img/frame-31-2.svg);
}

 .base-button-LKVlKj {
    background-color: transparent;
}

 .text-VGzCWy {
    line-height: 21px;
}

 .vuesaxlineararrow-right-VGzCWy {
    height: 16px;
    width: 16px;
}

 .frame-31-RJBIac {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/670897b14d93c75d65781d29/img/frame-31-3.svg);
}

 .base-button-WQMgAz {
    background-color: transparent;
}

 .text-YpNbzS {
    line-height: 21px;
}

 .vuesaxlineararrow-right-YpNbzS {
    height: 16px;
    width: 16px;
}

 .frame-31-mUSmxN {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/670897b14d93c75d65781d29/img/frame-31-4.svg);
}

 .base-button-yh3tDA {
    background-color: transparent;
}

 .text-drweIx {
    line-height: 21px;
}

 .vuesaxlineararrow-right-drweIx {
    height: 16px;
    width: 16px;
}

 .frame-31-4q5EYM {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/670897b14d93c75d65781d29/img/frame-31-5.svg);
}

 .base-button-91nnER {
    background-color: transparent;
}

 .text-Wr2zNb {
    line-height: 21px;
}

 .vuesaxlineararrow-right-Wr2zNb {
    height: 16px;
    width: 16px;
}

 .frame-168-fGtK8H {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 100%;
}

 .base-button-P0l8BZ {
    background-color: transparent;
    border: 1px solid;
    border-color: var(--black);
    padding: 8px 16px;
}

 .text-vxrxz0 {
    color: var(--black);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

 .header-7Soxz2 {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 10px;
    left: 0px;
    padding: 0px 72px;
    position: fixed;
    top: 0px;
    width: 100%;
}

 .rectangle-5-obqJsl {
    -webkit-backdrop-filter: blur(91.73332977294922px) brightness(100%);
    backdrop-filter: blur(91.73332977294922px) brightness(100%);
    background-color: #ffffff1a;
    box-shadow: inset -45.86666488647461px 45.86666488647461px 45.86666488647461px #ffffff1a, inset 45.86666488647461px -45.86666488647461px 45.86666488647461px #c1c1c11a;
    height: 80px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

 .frame-obqJsl {
    height: 80px;
    width: 134px;
}

 .group-xQ4xgP {
    background-color: transparent;
    height: 66px;
    left: 7px;
    position: relative;
    top: 8px;
    width: 127px;
}

 .layer-1-QLml5Z {
    height: 66px;
    width: 127px;
}

 .group-nlCVkn {
    background-color: transparent;
    height: 66px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 127px;
}

 .vector-Iowv7Y {
    height: 66px;
    width: 61px;
}

 .group-Iowv7Y {
    background-color: transparent;
    height: 66px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 61px;
}

 .clip-path-group-Iowv7Y {
    height: 66px;
    width: 61px;
}

 .group-XRxfaS {
    background-color: transparent;
    height: 29px;
    left: 70px;
    position: absolute;
    top: 18px;
    width: 57px;
}

 .frame-2-obqJsl {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 20px;
    justify-content: flex-end;
    position: relative;
}

 .frame-4-xexJto {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    position: relative;
    width: 538px;
}

 .menu-587lA2 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 8px;
}

 .menu-4bl9p4 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 8px;
}

 .menu-Tu4RV2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 8px;
}

 .vuesaxlineararrow-down-6ZYzQx {
    height: 24px;
    width: 24px;
}

 .menu-wDqeUx {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 8px;
}

 .language-xexJto {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

 .dropdown-button-basic-4J3VpZ {
    align-items: center;
    background-color: transparent;
    border: 1px solid;
    border-color: #dadce0;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    padding: 0px 16px;
    position: relative;
}

 .vuesaxlineararrow-down-QABZz8 {
    height: 14px;
    width: 14px;
}

 .content-QABZz8 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    height: 32px;
    position: relative;
}

 .dropdown-2YIyuU {
    background-color: transparent;
    color: var(--pale-sky);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .vuesaxlineararrow-down-2YIyuU {
    height: 14px;
    width: 14px;
}

 .base-button-1i4ZWo {
    background-color: transparent;
    border: 1px solid;
    border-color: var(--black);
    padding: 8px 16px;
}

 .text-HikvV4 {
    line-height: 21px;
}

 .arrow-right {
    background-color: transparent;
    height: 12px;
    position: relative;
    width: 12px;
}

 .base-badge {
    align-items: center;
    background-color: #fdf2f8;
    border-radius: 50px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    padding: 4px 12px;
    position: relative;
}

 .base-button {
    align-items: center;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

 .blog-card {
    -webkit-backdrop-filter: blur(25.266666412353516px) brightness(100%);
    align-items: flex-start;
    backdrop-filter: blur(25.266666412353516px) brightness(100%);
    background-color: var(--white-2);
    border: 1px solid;
    border-color: var(--white);
    border-radius: 16px;
    box-shadow: inset -12.633333206176758px 12.633333206176758px 12.633333206176758px #ffffff1a, inset 12.633333206176758px -12.633333206176758px 12.633333206176758px #c1c1c11a;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    position: relative;
    width: 305px;
}

 .bredcrumb-base {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
}

 .button {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

 .clip-path-group {
    background-color: transparent;
    left: 0px;
    position: absolute;
    top: 0px;
}

 .frame {
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

 .frame-111 {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

 .frame-112 {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

 .frame-178 {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

 .frame-31 {
    align-self: stretch;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 4px;
    height: 157px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

 .frame-62 {
    flex: 0 0 auto;
    position: relative;
}

 .home {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 27.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

 .how-to-wash-clothes-gently-and-safely {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .label {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgb(234.00000125169754, 62.00000010430813, 148.000006377697) 0%, rgb(21.000000648200512, 120.00000044703484, 177.0000046491623) 100%);
    background-clip: text;
    background-color: transparent;
    color: transparent;
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.00px;
    line-height: 15.6px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    text-fill-color: transparent;
    white-space: nowrap;
    width: fit-content;
}

 .layer-1 {
    background-color: transparent;
    left: 0px;
    position: relative;
    top: 0px;
}

 .menu {
    background-color: transparent;
    position: relative;
}

 .text {
    background-color: transparent;
    letter-spacing: 0.00px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

 .this-laundry-deterge {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

 .vector {
    background-color: transparent;
    left: 0px;
    position: absolute;
    top: 0px;
}
.blog-list {
    top: 2555px !important;
}
 .vuesaxlineararrow-down {
    background-color: transparent;
    position: relative;
}

 .vuesaxlineararrow-right {
    background-color: transparent;
    position: relative;
}
