
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,400,600");

/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6614e36db71f0b8421cfefca.6614e36eb71f0b8421cfefcd.LqnDzdx.hch.png");


.screen textarea:focus,
.screen input:focus {
    outline: none;
}

.screen * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.screen div {
    -webkit-text-size-adjust: none;
}

.component-wrapper a {
    display: contents;
    pointer-events: auto;
    text-decoration: none;
}

.component-wrapper * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
    pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
    visibility: hidden !important;
}

.screen a {
    display: contents;
    text-decoration: none;
}

.full-width-a {
    width: 100%;
}

.full-height-a {
    height: 100%;
}

.container-center-vertical {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    pointer-events: none;
}

.container-center-vertical>* {
    flex-shrink: 0;
    pointer-events: auto;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal>* {
    flex-shrink: 0;
    pointer-events: auto;
}

.auto-animated div {
    --z-index: -1;
    opacity: 0;
    position: absolute;
}

.auto-animated input {
    --z-index: -1;
    opacity: 0;
    position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}

.overlay-base {
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.overlay-base.animate-appear {
    align-items: center;
    animation: reveal 0.3s ease-in-out 1 normal forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.overlay-base.animate-disappear {
    animation: reveal 0.3s ease-in-out 1 reverse forwards;
    display: block;
    opacity: 1;
    pointer-events: none;
}

.overlay-base.animate-disappear * {
    pointer-events: none;
}

@keyframes reveal {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate-nodelay {
    animation-delay: 0s;
}

.align-self-flex-start {
    align-self: flex-start;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-flex-center {
    align-self: flex-center;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valign-text-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

input:focus {
    outline: none;
}

.listeners-active,
.listeners-active * {
    pointer-events: auto;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --black-haze: #f6f6f7;
    --pale-sky: #697483;
    --steel-gray: #1b2533;
    --white: #ffffff;

    --font-size-l: 18px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xl: 28px;
    --font-size-xxl: 48px;
    --font-size-xxxl: 60px;

    --font-family-plus_jakarta_sans: "Plus Jakarta Sans", Helvetica;
}

.plusjakartasans-normal-pale-sky-16px {
    color: var(--pale-sky);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.plusjakartasans-semi-bold-black-16px {
    color: var(--black);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
}

.plusjakartasans-normal-black-haze-14px {
    color: var(--black-haze);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}

.plusjakartasans-semi-bold-steel-gray-28px {
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
}

.plusjakartasans-normal-steel-gray-14px {
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}

:root {}


/* screen - frame-54 */


.frame-38-LNEaqw {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4000000059604645) 100%);
    background-color: transparent;
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-38.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 669px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.frame-40-gKsg0y {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    left: 40%;
    position: absolute;
    top: 281px;
}

.title-FpjDrA {
    align-self: stretch;
    background-color: transparent;
    color: var(--black-haze);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.50px;
    line-height: 72.0px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
}

.this-laundry-deterge-FpjDrA {
    color: var(--black-haze);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    width: fit-content;
}

.tab-gKsg0y {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    gap: 23px;
    left: 67px;
    position: absolute;
    top: 222px;
}

.frame-41-5n91EB {
    align-self: stretch;
    background-color: #c7d3da;
    border-radius: 40px;
    position: relative;
    width: 4px;
}

.frame-42-5n91EB {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 21px;
    position: relative;
}

.hc-spj-MNTG32 {
    cursor: pointer;
    line-height: 20.3px;
}

.hc-for-MNTG32 {
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.hc-euro-MNTG32 {
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.hc-luxury-MNTG32 {
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.hc-spj-baby-MNTG32 {
    cursor: pointer;
    letter-spacing: 0.00px;
    line-height: 20.3px;
}

.fabric-softener-MNTG32 {
    cursor: pointer;
    letter-spacing: 0.00px;
    line-height: 20.3px;
}

.frame-55-gKsg0y {
    align-items: flex-end;
    background-color: transparent;
    display: inline-flex;
    gap: 11px;
    left: 72px;
    position: absolute;
    top: 24px;
}

.home-fbHpyD {
    background-color: transparent;
    color: #5d6776;
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.00px;
    line-height: 27.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.vuesaxlineararrow-right-fbHpyD {
    background-color: transparent;
    height: 24px;
    position: relative;
    width: 24px;
}

.laundry-detergent-fbHpyD {
    background-color: transparent;
    color: #2e3238;
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.00px;
    line-height: 27.9px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.bredcrumb-gKsg0y {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    gap: 8px;
    left: 72px;
    position: absolute;
    top: 104px;
}

.menu-h4oWXx {
    color: var(--pale-sky);
    font-weight: 500;
}

.arrow-right-h4oWXx {
    background-color: transparent;
    height: 12px;
    position: relative;
    width: 12px;
}

.menu-60zuNC {
    color: var(--steel-gray);
    font-weight: 600;
}

-LNEaqw {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    padding: 48px 72px;
    position: relative;
    width: 100%;
}

.frame-183-3X6lCS {
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    justify-content: center;
}

.hc-spj-e85Vv2 {
    line-height: 36.4px;
}

.this-laundry-deterge-e85Vv2 {
    align-self: stretch;
}

.dropdown-wa7ddC {
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.vuesaxlineararrow-up-wa7ddC {
    background-color: transparent;
    height: 14px;
    position: relative;
    width: 14px;
}

.dropdown-menu-b0ccx8 {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 3px 6px -4px #0000001f;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 4px;
    position: relative;
    width: 100%;
}

.item-dropdown-menu-item-x4cENk {
    background-color: #ecf1f3;
}

.dropdown-list-item-dqmb3Z {
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
}

.item-dropdown-menu-item-xOfiBa {
    background-color: transparent;
}

.ellipse-5-AWGt53 {
    left: -41px;
    top: 209px;
}

.frame-45-AWGt53::-webkit-scrollbar {
    display: none;
    width: 0;
}

.frame-45-AWGt53 {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.frame-31-N2QOhx {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31@2x.png);
}

.frame-31-FHPwrR {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-1@2x.png);
}

.frame-31-ra7LKX {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-2@2x.png);
}

.frame-31-SIIL7w {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-3@2x.png);
}

.frame-31-uzxThE {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-4@2x.png);
}

.frame-31-xk0lSK {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-5@2x.png);
}

.frame-31-r1mIWK {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-6@2x.png);
}

.frame-31-6xERom {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-7@2x.png);
}

.frame-31-FlMRxw {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-8@2x.png);
}

.frame-71-LNEaqw {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    padding: 48px 72px;
    position: relative;
    width: 100%;
}

.frame-183-wrBcd5 {
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    justify-content: center;
}

.hc-spj-CwqLTZ {
    line-height: 36.4px;
}

.this-laundry-deterge-CwqLTZ {
    align-self: stretch;
}

.dropdown-KVjeuH {
    line-height: 20.3px;
}

.ellipse-5-qmUxjK {
    left: 803px;
    top: 180px;
}

.frame-183-qmUxjK::-webkit-scrollbar {
    display: none;
    width: 0;
}

.frame-183-qmUxjK {
    align-items: center;
    align-self: stretch;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    gap: 24px;
    overflow-x: scroll;
    width: 100%;
}

.frame-31-aSeegd {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-9@2x.png);
}

.frame-31-OsVxTu {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-10@2x.png);
}

.frame-31-E7jHfZ {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-11@2x.png);
}

.frame-31-lJDY8v {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-12@2x.png);
}

.frame-31-kxjGUk {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-31@2x.png);
}

.frame-31-atDa9K {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-13@2x.png);
}

.frame-72-LNEaqw {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    padding: 48px 72px;
    position: relative;
    width: 100%;
}

.ellipse-5-wEi2xC {
    left: -26px;
    top: 172px;
}

.frame-183-GysMcg {
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    justify-content: center;
}

.hc-spj-ckfz0x {
    line-height: 36.4px;
}

.this-laundry-deterge-ckfz0x {
    align-self: stretch;
}

.dropdown-XJnpQd {
    line-height: 20.3px;
}

.frame-1261154164::-webkit-scrollbar {
    display: none;
    width: 0;
}

.frame-31-gxPibZ {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-14@2x.png);
}

.frame-31-xxqXZ7 {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-15@2x.png);
}

.frame-31-WGBiPp {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-16@2x.png);
}

.frame-31-xRn6Yk {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-17@2x.png);
}

.frame-31-tafelY {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-18@2x.png);
}

.frame-31-JsMzCJ {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-19@2x.png);
}

.frame-73-LNEaqw {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    padding: 48px 72px;
    position: relative;
    width: 100%;
}

.frame-183-1xcxgH {
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    justify-content: center;
}

.hc-spj-7nfAox {
    line-height: 36.4px;
}

.this-laundry-deterge-7nfAox {
    align-self: stretch;
}

.dropdown-XmxeA6 {
    line-height: 20.3px;
}

.ellipse-5-8YSzlt {
    left: 853px;
    top: 153px;
}

.frame-31-E14ZuQ {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-20@2x.png);
}

.frame-31-oBnWuD {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-21@2x.png);
}

.frame-74-LNEaqw {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 48px 72px;
    position: relative;
    width: 100%;
}

.frame-183-UBhf9z {
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    justify-content: center;
}

.hc-spj-baby-qxsxq9 {
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1.50px;
    line-height: 60px;
    margin-top: -1.00px;
}

.this-laundry-deterge-qxsxq9 {
    align-self: stretch;
}

.dropdown-KX787L {
    color: var(--pale-sky);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    line-height: 20.3px;
}

.ellipse-5-xWAZHs {
    left: -69px;
    top: -44px;
}

.frame-45-xWAZHs::-webkit-scrollbar {
    display: none;
    width: 0;
}

.frame-45-xWAZHs {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.frame-31-4Akq7x {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-30@2x.png);
}

.frame-31-viFGOn {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-22@2x.png);
}

.frame-31-YGJv05 {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-30@2x.png);
}

.frame-31-wMIU7f {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-23@2x.png);
}

.frame-31-ysqbgw {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-24@2x.png);
}

.frame-31-IG2fR8 {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-25@2x.png);
}

.frame-75-LNEaqw {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 48px 72px;
    position: relative;
    width: 100%;
}

.frame-183-fV46PA {
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    justify-content: center;
}

.fabric-softener-nvd9W5 {
    color: var(--steel-gray);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1.50px;
    line-height: 60px;
    margin-top: -1.00px;
}

.this-laundry-deterge-nvd9W5 {
    align-self: stretch;
}

.dropdown-JfZiz1 {
    color: var(--pale-sky);
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    line-height: 20.3px;
}

.ellipse-5-ToEzrx {
    left: 803px;
    top: 180px;
}

.frame-1261154164::-webkit-scrollbar {
    display: none;
    width: 0;
}

.frame-31-344PT1 {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-32@2x.png);
}

.frame-31-FihZut {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-26@2x.png);
}

.frame-31-RqkMby {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-27@2x.png);
}

.frame-31-wOVHF7 {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-28@2x.png);
}

.frame-31-xaz48W {
    background-image: url(https://cdn.animaapp.com/projects/6614e467617c01c94b5d8e0a/releases/67073bd43d3d99e6a4f4f6e4/img/frame-31-29@2x.png);
}

.web-banner-51-LNEaqw {
    background-color: transparent;
    flex: 0 0 auto;
    position: relative;
}

.bredcrumb-base {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
}

.component-1 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.dropdown {
    background-color: transparent;
    letter-spacing: 0.00px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.dropdown-basic {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.dropdown-basic-inline {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
}

.dropdown-list-item {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.ellipse-5 {
    background: linear-gradient(180deg, rgb(234.00000125169754, 62.00000010430813, 148.000006377697) 0%, rgb(75.00000312924385, 178.00000458955765, 229.00000154972076) 76.49999856948853%);
    background-color: transparent;
    border-radius: 333px/171.5px;
    filter: blur(200px);
    ;
    height: 343px;
    opacity: 0.2;
    position: absolute;
    width: 100%;
}

.fabric-softener {
    background-color: transparent;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.frame-1261154163 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

.frame-1261154164 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    gap: 24px;
    overflow-x: scroll;
    position: relative;
    width: fit-content;
}

.frame-181 {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 28px;
    position: relative;
}

.frame-183 {
    background-color: transparent;
    display: flex;
    position: relative;
}

.frame-31 {
    align-self: stretch;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 4px;
    height: 269px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.frame-45 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    width: fit-content;
}

.hc-for-35-l-laundry {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

.hc-spj {
    background-color: transparent;
    letter-spacing: 0.00px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.hc-spj-baby {
    background-color: transparent;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.heading {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    padding: 48px 0px;
}

.item-dropdown-menu-item {
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    height: 32px;
    padding: 5px 12px;
    position: relative;
    width: 100%;
}

.menu {
    background-color: transparent;
    font-family: var(--font-family-plus_jakarta_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    letter-spacing: 0.00px;
    line-height: 20.3px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.product-card {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 16px;
    position: relative;
    width: 306px;
}

.rate-components {
    background-color: transparent;
    height: 31px;
    position: relative;
    width: 31px;
}

.this-laundry-deterge {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

.union {
    background-color: transparent;
    height: 21px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 22px;
}

.vuesaxlineararrow-down {
    background-color: transparent;
    height: 14px;
    position: relative;
    width: 14px;
}

.x220000-vn {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: relative;
    text-align: left;
}

.frame-54-LNEaqw {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 48px 0px;
    position: relative;
    width: 100%;
}

@media (min-width: 1200px) and (max-width: 1499px) {
    /* Các CSS điều chỉnh cho màn hình từ 1200px đến 1400px */
    .max-w-\[1441px\] {
        max-width: 1200px !important;
    }
}